.top {
    width: 100%;
    display: flex;
    align-items: center;
}


.top_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 40%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_img {
    width: 80px;
    height: 70px;
    border-radius: 50%;
    margin-right: 4px;
}


.top_heading {
    display: flex;
}

.top_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 19px;
    font-weight: 500;
    color: rgb(120, 120, 120);
}

h2 {
    font-size: 19px;
    font-weight: 600;
    margin-left: 10px;
}

.right {
    margin-right: 20px;
    color: #fff;
}

.svg {
    color: gray !important;
    height: 30px !important;
    font-size: 48px !important;
    cursor: pointer !important;
}

.MuiSvgIcon-root svg {
    background-color: rgb(158, 88, 88) !important;
}