.page3_container {
    display: inline-block;
    min-height: 150vh;
    border-radius: 15px;
}

.page3_box {
    height: 90vh;
    background-color: #fff;
    border-radius: 10px;
    background-attachment: fixed;
    margin-bottom: 90%;
}