.top3_container {
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}
.page_three_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top3_heading {
    color: rgb(65, 65, 65);
    font-weight: 600;
    padding: 25px;
}

.top3_box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* padding: 20px; */
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
}

.top3_box_one {
    height: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(154, 152, 152);
}

#active:active {
    background-color: red;
}

.top_date {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
}

.top_day {
    color: rgb(78, 76, 76);
    font-weight: 600;
    font-size: 20px;
    font-size: 22px;
    padding: 10px;

}